In [1]:
import pandas as pd

In [4]:
import os
import os.path as osp

In [3]:
from ddf_utils.str import format_float_digits

In [5]:
for f in os.listdir('../../'):
    if 'datapoints' in f:
        print(f)

ddf--datapoints--deaths_rate_ages_15_29_years--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_ages_45_59_years--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_all_ages_alt--by--country--year--cause--sex.csv
ddf--datapoints--deaths_all_ages--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_all_ages--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_ages_60plus_years--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_ages_0_14_years--by--country--year--cause--sex.csv
ddf--datapoints--deaths_rate_ages_30_44_years--by--country--year--cause--sex.csv

In [6]:
df = pd.read_csv('../../ddf--datapoints--deaths_rate_ages_15_29_years--by--country--year--cause--sex.csv')

In [8]:
df = df.set_index(['country', 'sex', 'cause'])

In [12]:
df.groupby(level=[0, 1, 2]).get_group((2040, 0, 'homicide'))

                      year  deaths_rate_ages_15_29_years
country sex cause
2040    0   homicide  1960                       4.99166
            homicide  1961                       1.87585
            homicide  1963                       2.61758
            homicide  1964                      13.48784
            homicide  1966                       3.62333
            homicide  1967                       7.88012
            homicide  1968                       8.19584
            homicide  1970                       4.35578
            homicide  1971                       4.33397
            homicide  1972                       2.99139
            homicide  1973                       6.85493
            homicide  1974                       9.80425
            homicide  1975                       9.35689
            homicide  1976                       5.66169
            homicide  1977                       5.87437
            homicide  1978                       1.40295
            homicide  1979                       5.11852
            homicide  1980                       6.06475
            homicide  1981                       3.65404
            homicide  1982                       9.67431
            homicide  1983                       7.95354
            homicide  1984                       3.88494
            homicide  1985                       9.29748
            homicide  1986                       4.02453
            homicide  1987                       9.05039
            homicide  1988                       5.22333
            homicide  1989                      14.90532
            homicide  1990                      29.72155
            homicide  1991                       7.03447
            homicide  1992                      18.24270
            homicide  1993                       8.46215
            homicide  1994                      14.55620
            homicide  1995                      10.13806

In [ ]:
for f in os.listdir('../../'):
    if 'datapoints' in f:
        df = pd.read_csv(osp.join('../../', f))